*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#logo-sony{
    height: 20px;
}

.my_btn_head{
    background-color: rgb(0, 0, 0) !important;
    border:1px solid black !important;
}

.my_btn_head:hover{
    background-color: rgb(0, 0, 0) !important;
    border:2px solid black !important;
    box-shadow: inset 0px 0px 0px 2px white;
}

.my_btn:hover{
    box-shadow: inset 0px 0px 0px 2px rgb(0, 0, 0);
    color: white;

}


.my_thumb{
    
    opacity: 0.6;
}

.my_thumb:hover{
    border-bottom: 2px solid blue !important;
    opacity: 1.0 !important;
}

.btn-primary:hover{
    border:2px solid rgb(0, 68, 155) !important;
    box-shadow: inset 0px 0px 0px 2px white;
}


/* .my_dropdown{
    width: 90vw !important;
    height: 40vh !important;
    display:none !important;
}

.my_dropdown:hover{
    width: 90vw !important;
    height: 40vh !important;
    display:block !important;
}

.my_ps_img{
    
    height: 10vh !important;
} */


.jumbo_ret{
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  
}

.jumbo_itt{
    width: 100%;
    height: 70vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.my_btn{
    background-color: rgb(231, 86, 86) !important;
    border: 2px solid rgb(231, 86, 86) !important;
   
    color:white;
}



.round{
    border-radius: 10%;
}

/* box-shadow: insect 0px 0px 0px 2px white */

.my_bg_grey{
    background-color: rgb(190, 188, 187);
}

.my_btn_plus{
    background-color: lightgrey !important;
    border: 1px solid lightgrey !important;
}

.my_bg_blue{
    background-color: rgb(21, 29, 59);
}

.my_bg_foot{
background-color: #00449B;

}