*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



.jumbo_ret{
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  
}

.jumbo_itt{
    width: 100%;
    height: 70vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.my_btn{
    background-color: rgb(231, 86, 86) !important;
    border: 1px solid rgb(231, 86, 86) !important;
   
    color:white;
}



.round{
    border-radius: 15%;
}

/* box-shadow: insect 0px 0px 0px 2px white */

.my_bg_grey{
    background-color: rgb(190, 188, 187);
}

.my_btn_plus{
    background-color: lightgrey !important;
    border: 1px solid lightgrey !important;
}

.my_bg_blue{
    background-color: rgb(21, 29, 59);
}

.my_bg_foot{
background-color: #00449B;
}